@import url("https://statics.herokuapp.com/fonts/fonts.css");

#heroku {
    color: black;
    float: right;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125)
}

#heroku strong {
    font-family: HybreaLight, "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

#getting-started {
    padding-bottom: 40px;
}

body {
    padding-top: 40px;
}

@media (max-width: 980px) and (min-width: 768px) {
    body {
        padding: 0;
    }
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }
}